$default-border: solid 1px #d4d4d5;
$text-size-small: 11px;
$text-size-medium: 13px;
$text-size-medium-large: 15px;
$text-size-large: 17px;
$color-black: #000000;
$color-blue: #0363ad;
$gray7 : #f0f0f0;
$disabled-text-grey: #aaaaaa;
