@import 'variables';

.lp-json-pollock {
    .lp-json-pollock-layout-vertical {
        border: $default-border;
        max-width: 200px;
    }

    .lp-json-pollock-element-text {
        padding: 8px;
        font-size: $text-size-medium;
    }

    .lp-json-pollock-element-button {
        button {
            border: none;
            border-top: $default-border;
            background: none;
            width: 100%;
            height: 32px;
            margin-bottom: -1px;

            &:active {
                background: $gray7;
            }
        }
    }

    .lp-json-pollock-element-image {           
        img {            
            border: $default-border;
            margin: -1px;
            max-height: 154px;
            width: 100%;
            height: auto;
        }
    }
}