{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "flowtype"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "linebreak-style": "off"
  }
}
