$default-border: solid 1px #d4d4d5;
$text-size-small: 11px;
$text-size-medium: 13px;
$text-size-medium-large: 15px;
$text-size-large: 17px;
$color-black: #000000;
$color-blue: #0363ad;
$color-dark-blue: #025494;
$color-green: #1aad12;
$gray7 : #f0f0f0;
$disabled-text-grey: #aaaaaa;
$color-white: #ffffff;
$carousel-arrow-active-border: solid 1px $color-blue;
